# 语言文件信息

header_ZH_Hans = "北方工业大学"
header_EN_US = "North China University of Technology"
header_JA_JP = "北方工業大学"

title_ZH_Hans = "基于机器学习的行人认识系统"
title_EN_US = "Pedestrian Recognition System Based on Machine Learning"
title_JA_jp = "機械学習に基づく歩行者認識システム"

login_ZH_Hans = "登录"
login_EN_US = "login"
login_JA_JP = "ログイン"

username_ZH_Hans = "用户名"
username_EN_US = "username"
username_JA_JP = "ユーザー名"

password_ZH_Hans = "密码"
password_EN_US = "password"
password_JA_JP = "パスワード"

dongle_ZH_Hans = "加密狗"
dongle_EN_US = "dongle"
dongle_JA_JP = "ドングル"

video_path_ZH_Hans = "视频文件路径"
video_path_EN_US = "video file path"
video_path_JA_JP = "ビデオ ファイル パス"

xml_model_path_ZH_Hans = "模型/数据集路径"
xml_model_path_EN_US = "model/dataset path"
xml_model_path_JA_JP = "モデル/データセット パス"

machine_learning_path_ZH_Hans = "机器学习文件源路径"
machine_learning_path_EN_US = "Machine learning file source path"
machine_learningl_path_JA_JP = "機械学習ファイルのソース パス"

single_channel_monitoring_ZH_Hans = "单路监控"
single_channel_monitoring_EN_US = "Single channel monitoring"
single_channel_monitoring_JA_JP = "シングルチャンネルモニタリング"

multi_channel_monitoring_ZH_Hans = "多路监控"
multi_channel_monitoring_EN_US = "Multi-channel monitoring"
multi_channel_monitoring_JA_JP = "マルチチャンネルモニタリング"

advanced_recognition_monitoring_ZH_Hans = "高级识别"
advanced_recognition_monitoring_EN_US = "advanced recognition"
advanced_recognition_monitoring_JA_JP = "高度な認識"

quit_monitoring_ZH_Hans = "退出"
quit_recognition_monitoring_EN_US = "quit"
quit_recognition_monitoring_JA_JP = "やめる"

model_training_ZH_Hans = "模型训练"
model_training_monitoring_EN_US = "model training"
model_training_monitoring_JA_JP = "モデルトレーニング"

connect_to_the_gpu_server_ZH_Hans = "连接到GPU服务器"
connect_to_the_gpu_server_EN_US = "Connect to the GPU server"
connect_to_the_gpu_server_JA_JP = "GPU サーバーに接続する"

remote_training_ZH_Hans = "GPU服务器连接与模型训练"
remote_training_EN_US = "GPU server connection and model training"
remote_training_JA_JP = "GPU サーバー接続とモデル トレーニング"

server_address_ZH_Hans = "服务器地址"
server_address_EN_US = "server address"
server_address_JA_JP = "サーバーアドレス"

port_number_ZH_Hans = "端口号"
port_number_EN_US = "The port number"
port_number_JA_JP = "ポート番号"

connect_and_train_ZH_Hans = "连接并训练"
connect_and_train_EN_US = "connect and train"
connect_and_train_JA_JP = "接続してトレーニングする"

mentor_ZH_Hans = "指导教师"
mentor_EN_US = "mentor"
mentor_JA_JP = "メンター"

teacher_name_ZH_Hans = "朱孟笑"
teacher_name_EN_US = "Mengxiao Zhu"
teacher_name_JA_JP = "朱孟笑"

version_information_beta_ZH_Hans = "测试版"
version_information_beta_EN_US = "Beta"
version_information_beta_JA_JP = "ベータ"

version_information_dev_ZH_Hans = "开发板"
version_information_dev_EN_US = "Dev"
version_information_dev_JA_JP = "開発版"

version_information_release_ZH_Hans = "发行版"
version_information_release_EN_US = "release"
version_information_release_JA_JP = "リリース版"

eggs_ZH_Hans = "NULL"
eggs_EN_US = "NULL"
eggs_JA_JP = "NULL"

times_ZH_Hans = "当前时间"
times_EN_US = "current time"
times_JA_JP = "現在の時刻"